@import url('http://fonts.googleapis.com/css?family=Material+Icons');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=font-family:Dosis|Lato');
@import url('http://fonts.googleapis.com/css?family=Cambay');
@import url('http://fonts.googleapis.com/css?family=Hind');
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
		

	*, *:before, *:after{
	  -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		  -ms-box-sizing: border-box;
			  box-sizing: border-box;
	}	
	
	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	html{
		position: relative;
		height:100%;
		padding: 0; 
		margin: 0;
	}
	body {
		margin: 0;
		padding: 0;
		height:100%;
		font-family: 'Trebuchet MS', Tahoma, sans-serif;	
	}

	
	img.logo{
		margin-top:-4% !important;
		
	}
	
			
input{

	-webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

textarea{
	resize: none;
	-webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
	background: #ffffff;
		-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
textarea:hover,textarea:focus{
	outline: none;
  -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
	box-shadow:none !important;
	border:1px solid #ccc !important;
	
}
	

#load{ 

height: 100%; 
width: 100%; 

}

#load {
    position    : fixed;
    z-index     : 99999; /* or higher if necessary */
    top         : 0;
    left        : 0;
    overflow    : hidden;
    text-indent : 100%;
    font-size   : 0;
    opacity     : 0.6;
    background  : #E0E0E0  url('../images/gifs/load.gif') center no-repeat;
}
	